.header {
  background-image: url("../../images/header-bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.headerContentLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 47px;
}

.headerText {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 144%;
  text-transform: uppercase;
  color: var(--white-color);
  opacity: 0.7;
}

.headerInfoLink {
  display: flex;
  justify-content: flex-end;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--white-color);
}

.headerInfoText {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--white-color);
}

/* --------------- HEADER-MAIN ----------------------*/

.headerMain {
  padding: 87px 0 0 0;
}

.headerMainText {
  max-width: 663px;
  font-family: var(--main-font);
  font-size: 39px;
  font-weight: 700;
  line-height: 43px;
  color: var(--white-color);
  margin-bottom: 35px;
}

.headerSections{
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 19px;
}

.headerSectionsElementActive {
  padding: 7px 18px;
  padding-top: 9px;
  background: #FFFFFF;
  border-radius: 37px;

  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;

  cursor: pointer;
}

.headerSectionsElement {
  padding: 8px 16px;
  padding-top: 9px;
  background: rgba(11, 14, 22, 0.66);
  border-radius: 36.9182px;
  color: var(--white-color);

  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;

  cursor: pointer;
}

/* ---------------- form elements --------------- */


.headerSettingsForm {
  max-width: 1044px;
  display: flex;
  justify-content: flex-start;
  background-color: var(--white-color);
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.65);
  border-radius: 7px;
  padding: 23px 21px;
  margin-bottom: 26px;
}

/* -------------number of rooms------------ */
.rooms {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.roomsNumber {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px 5px;
}

.roomsNumber:after {
  content: '';
  margin-left: 19px;
  margin-right: 8px;
  border: 1px solid #DDDEE0;
  height: 15px;
}

input[type=checkbox] {
  display: none;
}


/* ------------- price and area -------------- */

.priceAndArea {
  display: inline-flex;
}

.price{
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.price span {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.price:after {
  content: '';
  margin-left: 23px;
  margin-right: 8px;
  border: 1px solid #DDDEE0;
  height: 15px;
}

input[type=tel] {
  border:none;
  background:none;
  outline:none;
  border-bottom: 1px solid #CECECE;
  padding:0;
}

.price input {
  margin-left: 12px;
  width: 78px;
}



/* ---------------- district ------------------*/

.district {
  display: inline-flex;
}

select {
  border: none;
  color: #858C91;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

select:focus-visible {
  outline: none;
}



/* ------------btn------------- */

.btnForm {
  padding: 11px 19px 12px 24px;
  border-radius: 6px;
  background-color: #FF4D35;

  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
  border: none;
}