:root {
  --main-font: 'Graphik LC Web', sans-serif;
  --secondary-font: 'DaxlinePro', sans-serif;
  --pagination-font: 'Google Sans', sans-serif;


  --white-color: #FFFFFF;
  --black-color: #000000;
}