.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-wrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  &-title {
    font-family: 'Graphik LC';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 112%;
    color: #151515;
  }
}

  